<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">

    <title>Hotel Ateneo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Hotel Ateneo</h3>
              <ul class="nav masthead-nav">
                <li><a href="./index.erb">Home</a></li>
                <li><a href="./about.erb">About</a></li>
                <li><a href="./list.erb">Room List</a></li>
		<li class="active"><a href="./reserve.erb">Reserve Today!</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Reserve your room.</h1>
            <p class="lead">Reserve list.</p>
			
	        <form method="POST" action="./confirmation" role="form">
		<div class="form-group">
		<label for="type">Room Type</label>
		<select name="roomType">
		 	<option>SOSE Nerd Room</option>
                        <option>SOM "Future Executive" Suite</option>
                        <option>SOH Artistic Types studio</option>
                        <option>SOSS Variety Room</option>
                </select>
		</div>
	        <!-- group labels and inputs together using a form-group div -->
	        <div class="form-group">
	              	<label for="email">Email address</label>
	              	<input type="email" class="form-control" name="email" placeholder="Enter email">
	        </div>
		<label for="firstName">First Name</label>
              		<input type="text" class="form-control" name="firstName" placeholder="Enter first name">
            	</div>
		<div class="form-group">
              		<label for="lastName">Last Name</label>
              		<input type="text" class="form-control" name="lastName" placeholder="Enter last name">
            	</div> 
		<div class="form-group">
	              	<label for="inputDate">Length of Stay</label>
	              	<input type="Date" class="form-control" name="startDate" placeholder="mm/dd/yr">
			<br/>
	              	<input type="Date" class="form-control" name="endDate" placeholder="mm/dd/yr">
	        </div>
		<div class="form-group">
			<label for="creditcardNum">Credit Card Number</label>
			<input type="text" class="form-control" name="creditcardNum" placeholder="xxxx-xxxx-xxxx-xxxx">
		</div>
	           
	            <input type="submit" value="Make Reservation!"/>
	        </form>	
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
